.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .signup {
    display: inline-block;
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: -7px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* ביטול קו תחתון */
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .signup:hover {
    background-color: #19528b;
  }
  
  
  .title {
    font-size: 2.5rem;
    margin: 0;
  }

  

  .navList {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: fit-content;
  }
  
  .navLink {
    color: #61dafb;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: white;
  }

  .icon {
  color: #61dafb;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: -1800px;
  transform: translateY(-20px);
  }
  
  .icon:hover {
    color: #edeff2;
  }