.locationpicker {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .mapcontainer {
    margin-bottom: 1rem;
    height: 250px;
    width: 103%;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .addressbox {
    margin: 1rem 0;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    direction: rtl;
    text-align: right;
    border: 1px solid #ddd;
    color: #333;
    line-height: 1.6;
  }
  